extends _base.pug
prepend head
  - const title = 'Sarsa Murmu'
append head
  link(rel='stylesheet' href='/stylesheets/index.css')
block body
  .hero
    .shapes
      each i of Array(3)
        span
    .info
      span Hi there, I am
      span
        each i of Array(4)
          span
        span.name Sarsa Murmu
      .links
        p Find me on
        ul
          -
            const links = [
              {
                icon: 'github',
                url: 'https://github.com/sarsamurmu',
                label: 'My GitHub Profile'
              },
              {
                icon: 'twitter',
                url: 'https://twitter.com/sarsamurmu',
                label: 'My Twitter Profile'
              },
              {
                icon: 'discord',
                url: 'https://discordapp.com/channels/@me/520857452087083038',
                label: 'My Discord Profile'
              },
              {
                icon: 'telegram',
                url: 'https://telegram.me/sarsamurmu',
                label: 'My Telegram Profile'
              }
            ];
          
          each link in links
            li: a(
                aria-label=link.label
                href=link.url
                target='_blank'
                rel='noopener'
              ): i(data-icon=link.icon)
  .main-body
    .block
      h1 Who am I?
      p.
        I am a high school student and a self taught web developer. I like to code.
    .block
      h1 I can work with
      ul
        li HTML
        li CSS
        li JavaScript
        li TypeScript
        li Node JS
        li Dart
        li Java
  .block
    div(style='margin: 10rem')
    h1.center That's all for now.
    br
    h1.center
      | See you,
      br
      | Have a great day!
    div(style='margin: 10rem')
  .what-the-heck-overlay(aria-hidden='true')
    p I won't let you see the messed up version of my page 😤
    p Maybe you are a developer?
  
  script(src='/scripts/main.js')
